# other folders
Titan/
SDK/
give_tf_weapon/
vssaxtonhale/
infection/
testing/supertest/
testing/dont_commit
tankextensions/
tankextensions*.nut
Shenanigans-Inc/*

# Shenanigans Inc
attribs/
lib/
modules/
custom_weapons_loader.nut
maspawn.nut

# 
.vscode/analyze_strings.py
.vscode/settings.json
*:Zone.Identifier

# source engine magic
*.cache

# typescript stuff
node_modules/
package.json
package-lock.json
tsconfig.json