# other folders
Titan/
SDK/
give_tf_weapon/
vssaxtonhale/
Testing/
infection/

# 
.vscode/analyze_strings.py
.vscode/Antigravity- ParseTranslations.py
.vscode/settings.json

# source engine magic
*.cache

# typescript stuff
*.json
node_modules/