# other folders
Titan/
SDK/
give_tf_weapon/
vssaxtonhale/
infection/
testing/supertest/
tankextensions/
tankextensions*.nut

# 
.vscode/analyze_strings.py
.vscode/settings.json
.idea/
*:Zone.Identifier

# source engine magic
*.cache

# typescript stuff
*.json
node_modules/